/* ---------General--------- */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-weight: normal;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    border: 1px dotted red;
}

/* ---------Layout--------- */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

#header {
    display: flex;
    justify-content: center;
    padding: 2.5em;
}

#library-body {
    flex: 1; 
    width: 75vw;
    align-self: center;
}

#add-book-modal{
    margin: auto;;
}

#footer {
    text-align: center;
    padding: 1em;
}

/* ---------Styles--------- */

.book-card{
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

dialog {
    border: none;
    padding: 1em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: white;
    border-radius: 8px;
}
dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}
