/* ---------General--------- */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-weight: normal;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    color: hsl(46, 39%, 23%);
    /* border: 1px dotted red; */
}

/* ---------Layout--------- */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#header {
    display: flex;
    justify-content: center;
    padding: 2.5em;
    z-index: 1;
}

#library-body {
    flex: 1;    
    width: 75vw;
    align-self: center;
    display: grid;
    grid-template-rows: 1fr 10fr;
}

#add-book-modal{
    margin: auto;
}

#add-book-modal div{
    padding-bottom: 1em;
}

#book-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#book-card-container{
    grid-row: 2 / 3;
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 1rem;
}

#footer {
    text-align: center;
    padding: 1em;
}

/* ---------Styles--------- */

body, #library-body, #footer {
    background-color: #fffaf0;
}

#header{
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2)
}

#add-book-button{
    align-self: center;
    justify-self: center;
    margin: 1em;
    min-height: 40px;
    min-width: 120px;
    border-radius: 5px;
    background-color: hsl(46, 80%, 50%);
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
    transition: background-color 0.3s ease; /* Smooth hover effect */
}

#add-book-button:hover {
    background-color: hsl(46, 90%, 40%); /* Slightly darker shade on hover */
}

#add-book-modal{    
    height: 400px;
    width: 400px;
    border: none;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5em;
}

#add-book-modal label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
  }

#add-book-modal input[type="text"],
#add-book-modal input[type="number"] {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
}

#add-book-modal input[type="radio"] {
    margin-right: 5px;
}

#buttons-container {
    display: flex;
    gap: 2em;
}
 
#buttons-container button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

#buttons-container button:hover {
    opacity: 0.8;
}

#submit-button {
    background-color: hsl(46, 90%, 40%); /* Complementary color */
}
 
#cancel-button {
    background-color: hsl(0, 0%, 60%); /* Neutral gray for cancel */
}

.book-card{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    border: none;
    padding: 1.25em;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.book-card h2,
.book-card h3,
.book-card p {
    margin: 0;
}
